<main class="main" th:fragment="main">
    <div th:replace="~{fragments/admin-page-title :: adminPageTitle('Cụm rạp', 'Quản lý rạp', @{/admin})}"></div>
    <section class="section">
        <div class="card">
            <div class="card-body table-responsive">
                <table class="table table-striped">
                    <thead><tr><th>ID</th><th>Tên rạp</th><th>Khu vực</th><th>Địa chỉ</th></tr></thead>
                    <tbody>
                    <tr th:each="c : ${items}">
                        <td th:text="${c.cinemaId}">1</td>
                        <td th:text="${c.name}">Galaxy</td>
                        <td th:text="${c.region.regionName}">Hà Nội</td>
                        <td th:text="${c.address}">Địa chỉ</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
